<div class="text-center">
    <h1 class="myproducts">Products</h1>
</div>
<div class="row">
    @foreach(var i in Model){
    <div class="col-xl-4 col-md-6 col-12 mt-4">   
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-title">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@i.productCategory / @i.productTag  <b style="float:right;">@i.productCreatedAt&nbsp;</b>
                </div>
                <div class="card-body">
                    <h3>@i.productName</h3>
                </div>
                <div class="card-footer">
                    <b>Stock:</b> <input id="qt" value="@i.productQuantity" size="2" disabled/>
                    <b style="float:right;">@i.productPrice $</b>
                </div>
          </div>
    </div>
    }
</div>

<script>
    function clicked(i){
        var v = parseInt(document.getElementById("qt").value);
        if (v <= 0) {
            alert("Stock is 0!");
            document.getElementById("qt").value = 0;
        }
        else {
             v--;
            document.getElementById("qt").value = v;
        }
        
    }
</script>
